
body {
    margin: 0;
}

.cabecera {
    display: flex;
    align-items: center; 
    padding: 0 20px;
    background-color: #d32f2f; 
    height: 60px; 
    color: white;
}

.titulo {
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 24px;
    margin: 0;
    flex-grow: 1;
}

.enlaces {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.links {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    position: relative;
}

.links::before {
    content: ""; 
    position: absolute;
    left: -5px; 
    top: 0;
    height: 100%; 
    width: 2px; 
    background-color: black; 
}

.text {
    width: 80%;
    margin: 20px auto;
    background-color: #d32f2f;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0;
}

table {
    width: 80%; 
    margin: 20px auto; 
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #d32f2f !important; 
    color: white !important;
}

thead th {
    text-align: center; 
}

.link {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.link:hover {
    text-decoration: underline;
    color: #0056b3;
}

td {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: white; 
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}
